:host {
  /* prettier-ignore */
  --ease-anim: --ease-spring(1, 100, 5, 0, 1500);

  /* The easing function of the slider animation when it's active. */
  --ease-active-anim: --ease-out-back(2);

  /* The duration of the slider animation when it's not active. */
  --dur-anim: 0.4s;

  /* The duration of the slider animation when it is active. */
  --dur-anim-active: 0.25s;

  /* @ignore */
  --value: 0%;

  /* The thickness of the slider. */
  --sz-thickness: 18px;

  /* The size of the slider thumb. */
  --sz-thumb: 22px;

  /* The background color of the slider thumb. */
  --clr-thumb: #fff;

  /* The background color of filled part of the slider track. */
  --clr-filled: #2196f3;

  /* The color of the empty part of the slider track. */
  --clr-empty: #aaa;

  /* The scale of the slider when it is active. */
  --scale-by: 2;

  /* Whether to use the RTL direction. Use `-1` for `false` and `1` for `true`. The component will detect the direction automatically. */
  --is-rtl: -1;

  @media (prefers-reduced-motion) {
    --dur-anim: 0s;
    --dur-anim-active: 0s;
  }
}

label {
  display: block;
  margin-block-end: 10px;
  margin-inline-start: 10px;
  text-align: start;
  transition: opacity var(--dur-anim-active) var(--ease-active-anim);
}

label:has(+ .active) {
  opacity: 0;
}

.container {
  display: grid;
  place-items: center;

  &.disabled {
    opacity: 0.5;
  }

  > * {
    grid-area: 1 / 1;
  }
}

.custom-slider-container {
  position: relative;
  inline-size: calc(100% - var(--sz-thumb));
  block-size: var(--sz-thickness);
  pointer-events: none;
}

.custom-slider-track {
  inline-size: 100%;
  block-size: 100%;
  overflow: clip;
  background: var(--clr-empty);
  background-repeat: no-repeat;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 1rem -0.5rem rgb(0 0 0 / 40%);
  transition-timing-function: var(--ease-anim);
  transition-duration: var(--dur-anim);
  transition-property: transform, border-radius;
}

.fill {
  inline-size: calc(var(--value) * 1%);
  block-size: 100%;
  background: var(--clr-filled);
  background-repeat: no-repeat;
  border-radius: inherit;
}

.custom-slider-thumb {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: calc(var(--value) * 1%);
  inline-size: var(--sz-thumb);
  block-size: var(--sz-thumb);
  background-color: var(--clr-thumb);
  border-radius: calc(var(--sz-thumb) / 2);
  box-shadow: 0 0 7px 0 #0006;
  translate: calc(50% * var(--is-rtl)) -50%;
  transition-timing-function: var(--ease-anim);
  transition-duration: var(--dur-anim);
  transition-property: transform, border-radius, width, height, box-shadow;
}

.active .custom-slider-container {
  .custom-slider-track {
    border-radius: 0;
    transform: scaleY(var(--scale-by));
    transition-timing-function: var(--ease-active-anim);
    transition-duration: var(--dur-anim-active);
  }

  .custom-slider-thumb {
    inline-size: 1px;
    block-size: 100%;
    border-radius: 0;
    box-shadow: none;
    transform: scaleY(var(--scale-by));
    transition-timing-function: var(--ease-active-anim);
    transition-duration: var(--dur-anim-active);
  }
}

.ticks {
  position: relative;
  inline-size: calc(100% - var(--sz-thumb));
  block-size: calc(var(--sz-thickness) + 12px);
  pointer-events: none;
  transition: transform var(--dur-anim) var(--ease-anim);

  div {
    position: absolute;
    inset-block-end: 0;
    inline-size: 1px;
    block-size: 4px;
    background: var(--clr-thumb);
    translate: -50% 0;
  }
}

.active .ticks {
  transform: translateY(calc((var(--sz-thickness) * (var(--scale-by) - 1)) / 2));
  transition-timing-function: var(--ease-active-anim);
  transition-duration: var(--dur-anim-active);
}

.bubble-container {
  position: relative;
  z-index: 1;
  inline-size: calc(100% - var(--sz-thumb));
  block-size: var(--sz-thickness);
  pointer-events: none;
}

.bubble {
  position: absolute;
  inset-block-start: -5px;
  inset-inline-start: calc(var(--value) * 1%);
  font-family: monospace;
  font-weight: bold;
  opacity: 0;
  transform: scale(0);
  translate: calc(50% * var(--is-rtl)) -100%;
  transition-timing-function: var(--ease-anim);
  transition-duration: var(--dur-anim);
  transition-property: transform, opacity;
}

.active .bubble-container {
  transform: translateY(calc((var(--sz-thickness) * (1 - var(--scale-by))) / 2));
  transition-timing-function: var(--ease-active-anim);
  transition-duration: var(--dur-anim-active);

  .bubble {
    opacity: 1;
    transform: scale(1);
    transition-timing-function: var(--ease-active-anim);
    transition-duration: var(--dur-anim-active);
  }
}

input[type="range"] {
  inline-size: 100%;
  min-block-size: 22px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background: transparent;
  border: none;
  opacity: 0;
}

.disabled input[type="range"] {
  cursor: unset;
}

input[type="range"]::-webkit-slider-runnable-track {
  block-size: var(--sz-thickness);
}

input[type="range"]::-moz-range-track {
  block-size: var(--sz-thickness);
  background: transparent;
  border: 0;
}

input[type="range"]::-ms-track {
  block-size: var(--sz-thickness);
}

input[type="range"]::-webkit-slider-thumb {
  inline-size: var(--sz-thumb);
  block-size: var(--sz-thumb);
  margin-block-start: calc((var(--sz-thickness) - var(--sz-thumb) - 1px) / 2);
  appearance: none;
  background: transparent;
  border: none;
}

input[type="range"]::-moz-range-thumb {
  inline-size: var(--sz-thumb);
  block-size: var(--sz-thumb);
  appearance: none;
  background: transparent;
  border: none;
}

input[type="range"]::-ms-thumb {
  inline-size: var(--sz-thumb);
  block-size: var(--sz-thumb);
  margin-block-start: 0;
  appearance: none;
  background: transparent;
  border: none;
}
