.svg-dialog-title {
  margin: 0px;
  margin-bottom: 30px;
}
.svg-dialog-pre-container {
  position: relative;
  margin-block: 24px;
}
.svg-dialog-pre {
  padding: 20px;
  margin: 0px auto;
  border-radius: 10px;
  background-color: var(--background-color);
  text-align: left;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  max-height: 200px;
  overflow: auto;
}
.svg-dialog-example-pre {
  padding: 20px;
  margin: 0px auto;
  border-radius: 10px;
  background-color: var(--background-color);
  text-align: left;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  max-height: 150px;
  overflow: auto;
}
.hljs-dot {
  color: #b6b6b6;
}

.svg-dialog-copy-button {
  all: unset;
  position: absolute;
  top: 10px;
  right: 20px;
  font-family: inherit;
  font-size: 14px;
  color: var(--text-color);
  background-color: #303030;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease;
}
.svg-dialog-copy-button:hover {
  transform: scale(1.05);
}
.svg-dialog-copy-button:active {
  transform: translate(2px, 2px);
}

.svg-dialog-close-button {
  width: 60%;
  border: none;
  font-family: inherit;
  font-weight: normal;
  text-align: center;
  color: white;
  margin: 0px 5px;
  font-size: 18px;
  margin-top: 20px;
  padding: 8px;
  background-color: var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease-in-out;
}
.svg-dialog-close-button:hover {
  transform: scale(1.01);
}
.svg-dialog-close-button:active {
  transform: translate(2px, 2px);
}
