@import url("../wcp-default-styles.css");

:host {
  /*
    The background color of the menu.
    @name --ui-clr-surface-1
  */
  --wcp-clr-background: var(--ui-clr-surface-1, var(--def-clr-surface-1));

  /*
    The border color of the menu.
    @name --ui-clr-border
  */
  --wcp-clr-border: var(--ui-clr-border, var(--def-clr-border));

  /*
    The border width of the menu.
    @name --ui-sz-border-thin
  */
  --wcp-sz-border: var(--ui-sz-border-thin, var(--def-sz-border-thin));

  /*
    The border radius of the menu.
    @name --ui-rad-border-md
  */
  --wcp-rad-border: var(--ui-rad-border-md, var(--def-rad-border-md));

  /*
    The shadow of the menu.
    @name --ui-shadow
  */
  --wcp-shadow: var(--ui-shadow, var(--def-shadow));

  /*
    The easing function of the open animation.
    @name --ui-ease-anim-forward
  */
  --wcp-ease-anim-open: var(--ui-ease-anim-forward, var(--def-ease-anim-forward));

  /*
    The easing function of the close animation.
    @name --ui-ease-anim-backward
  */
  --wcp-ease-anim-close: var(--ui-ease-anim-backward, var(--def-ease-anim-backward));

  /*
    The duration of the open animation.
    @name --ui-dur-anim-forward
  */
  --wcp-dur-anim-open: var(--ui-dur-anim-forward, var(--def-dur-anim-forward));

  /*
    The duration of the close animation.
    @name --ui-dur-anim-backward
  */
  --wcp-dur-anim-close: var(--ui-dur-anim-backward, var(--def-dur-anim-backward));

  display: contents;

  @media (prefers-reduced-motion) {
    --wcp-dur-anim-open: 0s;
  }
}

.popover {
  --anim-to-block-size: 0px;
  --anim-from-translate-y: 0px;

  box-sizing: border-box;
  padding: 0.5em;
  margin: 1rem 0;
  overflow: hidden auto;
  overscroll-behavior: contain;
  background-color: var(--wcp-clr-background);
  border: solid var(--wcp-sz-border) var(--wcp-clr-border);
  border-radius: var(--wcp-rad-border);
  box-shadow: var(--wcp-shadow);
}

.show {
  animation: show var(--wcp-dur-anim-open) var(--wcp-ease-anim-open) backwards;
}

.hide {
  animation: show var(--wcp-dur-anim-close) var(--wcp-ease-anim-close) reverse backwards;
}

anchor-component:state(misaligned) .popover {
  background-color: red;
}

@keyframes show {
  from {
    block-size: 0;
    opacity: 0;
    transform: translateY(var(--anim-from-translate-y));
  }

  to {
    block-size: var(--anim-to-block-size);
    opacity: 1;
    transform: translateY(0);
  }
}

.popover::backdrop {
  display: none;
  opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
  @supports (scrollbar-width: thin) {
    .popover {
      scrollbar-width: thin;
    }
  }
}
