@import url("../wcp-default-styles.css");

:host {
  /*
    The background color of the trigger.
    @name --ui-clr-surface-1
  */
  --wcp-clr-background: var(--ui-clr-surface-1, var(--def-clr-surface-1));

  /*
    The background color of the hovered trigger.
    @name --ui-clr-surface-2
  */
  --wcp-clr-hover: var(--ui-clr-surface-2, var(--def-clr-surface-2));

  /*
    The border color of the trigger.
    @name --ui-clr-border
  */
  --wcp-clr-border: var(--ui-clr-border, var(--def-clr-border));

  /*
    The border width of the trigger.
    @name --ui-sz-border-thin
  */
  --wcp-sz-border: var(--ui-sz-border-thin, var(--def-sz-border-thin));

  /*
    The border radius of the trigger.
    @name --ui-rad-border-md
  */
  --wcp-rad-border: var(--ui-rad-border-md, var(--def-rad-border-md));

  /*
    The shadow of the trigger.
    @name --ui-shadow
  */
  --wcp-shadow: var(--ui-shadow, var(--def-shadow));

  display: contents;

  @media (prefers-reduced-motion) {
    --wcp-dur-anim-open: 0s;
  }
}

.trigger {
  display: flex;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  background-color: var(--wcp-clr-background);
  border: solid var(--wcp-sz-border) var(--wcp-clr-border);
  border-radius: var(--wcp-rad-border);
  box-shadow: var(--wcp-shadow);
  transition: background-color 200ms linear;

  @media (prefers-reduced-motion) {
    transition: none;
  }

  &[aria-disabled="true"] {
    cursor: unset;
    opacity: 0.5;
  }

  span {
    flex: 1;
  }

  .trigger-icon {
    display: block;
    inline-size: 1em;
    block-size: 1em;
    fill: currentcolor;
  }
}

@media (hover: hover) and (pointer: fine) {
  .trigger:not([aria-disabled="true"]):hover {
    background-color: var(--wcp-clr-hover);
  }
}
