@import url("../wcp-default-styles.css");

:host {
  /* 
    The color of the dialog background.
    @name --ui-clr-surface-1
  */
  --wcp-clr-background: var(--ui-clr-surface-1, var(--def-clr-surface-1));

  /* 
    The color of the dialog backdrop.
    @name --ui-clr-backdrop
  */
  --wcp-clr-backdrop: var(--ui-clr-backdrop, var(--def-clr-backdrop));

  /*
    The shadow of the dialog.
    @name --ui-shadow
  */
  --wcp-shadow: var(--ui-shadow, var(--def-shadow));

  /*
    The border radius of the dialog.
    @name --ui-rad-border-lg
  */
  --wcp-rad-border: var(--ui-rad-border-lg, var(--def-rad-border-lg));

  /* 
    The size of the close button svg icon.
    @name --ui-sz-icon-md
  */
  --wcp-sz-close-icon: var(--ui-sz-icon-md, var(--def-sz-icon-md));

  /* 
    The color of the close button svg icon.
    @name --ui-clr-text
  */
  --wcp-clr-close-icon: var(--ui-clr-text, var(--def-clr-text));

  /* 
    The duration for the reveal animation.
    @name --ui-dur-anim-forward
  */
  --wcp-dur-anim-reveal: var(--ui-dur-anim-forward, var(--def-dur-anim-forward));

  /*
    The duration for the dismiss animation.
    @name --ui-dur-anim-backward
  */
  --wcp-dur-anim-dismiss: var(--ui-dur-anim-backward, var(--def-dur-anim-backward));

  /*
    The easing function for the reveal animation.
    @name --ui-ease-anim-forward
  */
  --wcp-ease-anim-reveal: var(--ui-ease-anim-forward, var(--def-ease-anim-forward));

  /*
    The easing function for the dismiss animation.
    @name --ui-ease-anim-backward
  */
  --wcp-ease-anim-dismiss: var(--ui-ease-anim-backward, var(--def-ease-anim-backward));

  display: contents;

  @media (prefers-reduced-motion) {
    --wcp-dur-anim-reveal: 0s;
    --wcp-dur-anim-dismiss: 0s;
  }
}

dialog {
  inset: 0;
  inline-size: 100%;
  max-inline-size: unset;
  block-size: 100%;
  max-block-size: unset;
  padding: 0;
  overflow: clip;
  background: var(--wcp-clr-backdrop);
  border: none;
}

.content {
  position: fixed;
  inset: 0;
  inline-size: calc(90% - 80px);
  max-inline-size: 600px;
  block-size: fit-content;
  max-block-size: 80%;
  padding: 2em;
  margin: auto;
  overflow: auto;
  background-color: var(--wcp-clr-background);
  border-radius: var(--wcp-rad-border);
  box-shadow: var(--wcp-shadow);
}

dialog::backdrop {
  display: none;
}

dialog[open] .content {
  animation: show var(--wcp-dur-anim-reveal) var(--wcp-ease-anim-reveal) forwards;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(70%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

dialog[open] {
  animation: bg-show var(--wcp-dur-anim-reveal) var(--wcp-ease-anim-reveal) forwards;
}

@keyframes bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

dialog.hide .content {
  animation: hide var(--wcp-dur-anim-dismiss) var(--wcp-ease-anim-dismiss) forwards;
}

@keyframes hide {
  to {
    opacity: 0;
    transform: translateY(70%);
  }
}

dialog.hide {
  animation: bg-hide var(--wcp-dur-anim-dismiss) var(--wcp-ease-anim-dismiss) forwards;
}

@keyframes bg-hide {
  to {
    opacity: 0;
  }
}

dialog button.close-button {
  position: sticky;
  inset-block-start: 0;
  float: inline-end;
  display: grid;
  place-items: center;
  padding: 0.2rem;
  margin-block-start: -1em;
  margin-inline-end: -1em;
  cursor: pointer;
  background-color: var(--wcp-clr-background);
  border: none;
  border-radius: 50%;
  transition: background-color 200ms ease-in-out;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

dialog button.close-button svg {
  inline-size: var(--wcp-sz-close-icon);
  block-size: var(--wcp-sz-close-icon);
  fill: var(--wcp-clr-close-icon);
}

@media (hover: hover) and (pointer: fine) {
  dialog button.close-button:hover {
    background-color: hsl(from var(--wcp-clr-background) h s calc(l * 0.9));
  }
}

@media (max-width: 600px) {
  dialog .content {
      inline-size: calc(100% - 80px);
      max-block-size: 90%;
  }
}