.container {
  position: relative;

  --highlight-color: #85fa76;
  --text-color: #efeff1;
  --text-selection: #1055d6;
  --scrollbar-color: #7a7a7a50;
  --scrollbar-width: 5px;
  background-color: var(--svg-background-color);

  display: flex;
  flex: 0.75;
  border-radius: 10px;
  border: solid 1px transparent;
  transition: all 200ms ease;
}

.container:focus-within {
  background-color: var(--input-focused);
  border: solid 1px var(--main-color);
}

.input {
  all: unset;
  flex: 1;
  color: transparent !important;
  caret-color: var(--text-color);
  z-index: 1;
}
.input::selection {
  color: white;
  background: var(--text-selection);
  /* background: #5a93fc; */
}
@media (hover: hover) and (pointer: fine) {
  .input {
    scrollbar-width: var(--scrollbar-width);
    scrollbar-color: var(--scrollbar-color) transparent;
  }
  .input::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }
  .input::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
    margin: 0px;
  }
  .input::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 10px;
    border: none;
  }
}
.paragraph {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
}
.highlight {
  --color: var(var(--highlight-color));
  color: var(--color);
  text-shadow: 0px 0px 1px var(--color);
}

.textStyle {
  color: var(--text-color);
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px 14px;
  white-space: pre;
}
