@import url("../wcp-default-styles.css");

:host {
  /* 
    The easing function for the toggle animation.
    @name --ui-ease-anim-forward
  */
  --wcp-ease-anim: var(--ui-ease-anim-forward, var(--def-ease-anim-forward));

  /*
    The duration of the toggle animation.
    @name --ui-dur-anim-forward
  */
  --wcp-dur-anim: var(--ui-dur-anim-forward, var(--def-dur-anim-forward));

  /*
    The color of the toggle checkbox when it's checked.
    @name --ui-clr-accent
  */
  --wcp-clr-active: var(--ui-clr-accent, var(--def-clr-accent));

  /*
    The color of the toggle checkbox when it's not checked.
    @name --ui-clr-neutral
  */
  --wcp-clr-inactive: var(--ui-clr-neutral, transparent);

  /*
    The color of the toggle checkbox border.
    @name --ui-clr-border
  */
  --wcp-clr-border: var(--ui-clr-border, var(--def-clr-border));

  /*
    The size of the toggle checkbox border.
    @name --ui-sz-border-thick
  */
  --wcp-sz-border: var(--ui-sz-border-thick, var(--def-sz-border-thick));

  /*
    The color of the checked icon.
    @name --ui-clr-text-on-accent
  */
  --wcp-clr-checked-icon: var(--ui-clr-text-on-accent, var(--def-clr-text-on-accent));

  /*
    The size of the toggle checkbox.
    @name --ui-clr-sz-checkbox
  */
  --wcp-sz-checkbox: var(--ui-clr-sz-checkbox, 24px);

  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  @media (prefers-reduced-motion) {
    --wcp-dur-anim: 0s;
  }
}

.checkbox {
  box-sizing: border-box;
  display: grid;
  place-items: stretch;
  inline-size: var(--wcp-sz-checkbox);
  block-size: var(--wcp-sz-checkbox);
  padding: 0;
  margin: 0;
  overflow: clip;
  cursor: pointer;
  background-color: var(--wcp-clr-inactive);
  border: solid var(--wcp-sz-border) var(--wcp-clr-border);
  border-radius: 6px;
  transition-timing-function: var(--wcp-ease-anim);
  transition-duration: calc(var(--wcp-dur-anim) / 2);
  transition-property: border-color;

  > * {
    grid-area: 1 / 1;
  }
}

.background {
  background-color: transparent;
  border-radius: 50%;
  scale: 0;
  transition-timing-function: var(--wcp-ease-anim);
  transition-duration: calc(var(--wcp-dur-anim) / 2);
  transition-property: background-color, border-radius, scale;
}

.checked-icon {
  visibility: hidden;
  inline-size: 100%;
  block-size: 100%;
  fill: var(--wcp-clr-checked-icon);
  scale: 0;
  translate: 0 100%;
  transition-timing-function: var(--wcp-ease-anim);
  transition-duration: var(--wcp-dur-anim);
  transition-property: scale, translate, visibility;
  transition-behavior: allow-discrete;
}

.checkbox[aria-checked="true"] {
  border-color: transparent;
  border-width: 0;

  .background {
    background-color: var(--wcp-clr-active);
    border-radius: inherit;
    scale: 1;
  }

  .checked-icon {
    visibility: visible;
    scale: 1;
    translate: 0;
  }
}

.checkbox[aria-disabled="true"] {
  cursor: unset;
  opacity: 0.5;
}

label {
  flex: 1;
  cursor: pointer;
  user-select: none;
}
