.contact-us-menu {
  display: contents;

  .contact-us-custom-trigger {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .contact-us-custom-trigger svg {
    display: block;
    inline-size: var(--sz-panel-icon);
    block-size: var(--sz-panel-icon);
    fill: var(--clr-icon);
  }

  .contact-us-link {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    padding: 0.5em;
    color: var(--clr-text);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 100ms ease;
  }

  .contact-us-link:hover {
    background-color: var(--clr-hover);
  }

  .contact-us-link span {
    flex: 1;
  }

  .contact-us-link svg {
    display: block;
    inline-size: 20px;
    block-size: 20px;
    fill: var(--clr-text);
  }
}
