.container {
  position: relative;

  --highlight-color: #85fa76;
  --input-text-color: #efeff1;
  --text-selection: #1055d6;
  background-color: var(--background-color);

  display: flex;
  flex: 1;
  padding: 6px 10px;
  border: solid 1px transparent;
  border-radius: 5px;
  transition: background-color 300ms ease;
}

.container:focus-within {
  background-color: var(--input-focused);
  border: solid 1px var(--main-color);
}

.input {
  all: unset;
  flex: 1;
  color: transparent !important;
  caret-color: var(--input-text-color);
  z-index: 1;
}
.input::selection {
  color: white;
  background: var(--text-selection);
  /* background: #5a93fc; */
}
.paragraph {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: inherit;
  white-space: pre;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
}
.highlight {
  --color: var(var(--highlight-color));
  color: var(--color);
  text-shadow: 0px 0px 1px var(--color);
}

.textStyle {
  color: var(--input-text-color);
  font-family: monospace;
  text-align: left;
  font-size: 16px;
}
