@import url("../wcp-default-styles.css");

:host {
  /* 
    The background color of the alert items.
    @name --ui-clr-surface-1
  */
  --wcp-clr-background: var(--ui-clr-surface-1, var(--def-clr-surface-1));

  /* 
    The success color.
    @name --ui-clr-success
  */
  --wcp-clr-success: var(--ui-clr-success, var(--def-clr-success));

  /* 
    The error color.
    @name --ui-clr-error
  */
  --wcp-clr-error: var(--ui-clr-error, var(--def-clr-error));

  /* 
    The info color.
    @name --ui-clr-info
  */
  --wcp-clr-info: var(--ui-clr-info, var(--def-clr-info));

  /* 
    The warning color.
    @name --ui-clr-warning
  */
  --wcp-clr-warning: var(--ui-clr-warning, var(--def-clr-warning));

  /*
    The text color of the alert items.
    @name --ui-clr-text-muted
  */
  --wcp-clr-text-muted: var(--ui-clr-text-muted, var(--def-clr-text-muted));

  /*
    The text color of the alert title.
    @name --ui-clr-text
  */
  --wcp-clr-text: var(--ui-clr-text, var(--def-clr-text));

  /*
    The border color of the alert items.
    @name --ui-clr-border
  */
  --wcp-clr-border: var(--ui-clr-border, var(--def-clr-border));

  /*
    The border radius of the alert items.
    @name --ui-rad-border-md
  */
  --wcp-rad-border: var(--ui-rad-border-md, var(--def-rad-border-md));

  /*
    The border size of the alert items.
    @name --ui-sz-border-thin
  */
  --wcp-sz-border: var(--ui-sz-border-thin, var(--def-sz-border-thin));

  /*
    The shadow of the alert items.
    @name --ui-shadow
  */
  --wcp-shadow: var(--ui-shadow, var(--def-shadow));

  /* 
    The duration for the reveal animation.
    @name --ui-dur-anim-forward
  */
  --wcp-dur-anim-reveal: var(--ui-dur-anim-forward, var(--def-dur-anim-forward));

  /*
    The duration for the dismiss animation.
    @name --ui-dur-anim-backward
  */
  --wcp-dur-anim-dismiss: var(--ui-dur-anim-backward, var(--def-dur-anim-backward));

  /*
    The easing function for the reveal animation.
    @name --ui-ease-anim-forward
  */
  --wcp-ease-anim-reveal: var(--ui-ease-anim-forward, var(--def-ease-anim-forward));

  /*
    The easing function for the dismiss animation.
    @name --ui-ease-anim-backward
  */
  --wcp-ease-anim-dismiss: var(--ui-ease-anim-backward, var(--def-ease-anim-backward));

  /* 
    The gap between the alert items.
    @name --ui-gap-md
  */
  --wcp-gap: var(--ui-gap-md, var(--def-gap-md));

  /*
    The size of the alert type icon.
    @name --ui-sz-icon-lg
  */
  --wcp-sz-icon: var(--ui-sz-icon-lg, var(--def-sz-icon-lg));

  /*
    The size of the close button icon.
    @name --ui-sz-icon-md
  */
  --wcp-sz-close-icon: var(--ui-sz-icon-md, var(--def-sz-icon-md));

  display: contents;

  @media (prefers-reduced-motion) {
    --wcp-dur-anim-reveal: 0s;
    --wcp-dur-anim-dismiss: 0s;
  }
}

.popover {
  inset: unset;
  inset-block-end: 0;
  inset-inline-end: 0;
  inline-size: 100%;
  max-inline-size: 500px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;

  &::backdrop {
    display: none;
  }
}

.alert-container {
  display: flex;
  flex-direction: column-reverse;
  margin: var(--wcp-gap);
  overflow: hidden;

  &.stacked-3d {
    display: grid;
    align-items: end;
    perspective: 500px;
  }
}

.alert-item {
  --type-color: #fff;

  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  background-color: var(--wcp-clr-background);
  border: solid var(--wcp-sz-border) var(--wcp-clr-border);
  border-radius: var(--wcp-rad-border);
  box-shadow: var(--wcp-shadow);
  animation: item-show var(--wcp-dur-anim-reveal) var(--wcp-ease-anim-reveal) backwards;

  &:not(:last-child) {
    margin-block-start: var(--wcp-gap);
  }

  &.hide {
    overflow: hidden;
    animation: item-hide var(--wcp-dur-anim-dismiss) var(--wcp-ease-anim-dismiss) forwards;
  }

  .close-btn {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: transform 100ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      display: block;
      inline-size: var(--wcp-sz-close-icon);
      block-size: var(--wcp-sz-close-icon);
      fill: currentcolor;
    }
  }

  .divider {
    align-self: stretch;
    inline-size: 1px;
    background-color: var(--wcp-clr-text-muted);
  }

  .item-message {
    flex: 1;
    margin: 0;
    color: var(--wcp-clr-text-muted);
    text-align: center;
    overflow-wrap: anywhere;
  }

  &.error {
    --type-color: var(--wcp-clr-error);
  }

  &.info {
    --type-color: var(--wcp-clr-info);
  }

  &.success {
    --type-color: var(--wcp-clr-success);
  }

  &.warning {
    --type-color: var(--wcp-clr-warning);
  }
}

.stacked-3d .alert-item {
  --order: 10;

  grid-area: 1 / 1;
  margin-block-end: calc(12px * var(--order));
  pointer-events: none;
  opacity: calc((10 - var(--order)) / 5);
  filter: blur(calc(0.2px * var(--order)));
  transform: translateZ(calc(-20px * var(--order)));
  transform-style: preserve-3d;
  transition-duration: var(--wcp-dur-anim-reveal);
  transition-property: transform, opacity, margin-block-end, filter;

  &.hide {
    transition-duration: var(--wcp-dur-anim-dismiss);
  }

  &:nth-last-child(1) {
    --order: 0;

    pointer-events: unset;
  }

  &:nth-last-child(2) {
    --order: 1;
  }

  &:nth-last-child(3) {
    --order: 2;
  }

  &:nth-last-child(4) {
    --order: 3;
  }

  &:nth-last-child(5) {
    --order: 4;
  }

  &:nth-last-child(6) {
    --order: 5;
  }

  &:nth-last-child(7) {
    --order: 6;
  }

  &:nth-last-child(8) {
    --order: 7;
  }

  &:nth-last-child(9) {
    --order: 8;
  }

  &:nth-last-child(10) {
    --order: 9;
  }

  &:nth-last-child(11) {
    --order: 10;
  }
}

@keyframes item-show {
  from {
    opacity: 0;
    translate: 0 50px;
  }

  to {
    opacity: 1;
    translate: 0 0;
  }
}

@keyframes item-hide {
  to {
    block-size: 0;
    padding-block: 0;
    margin-block: 0;
    opacity: 0;
    translate: 0 50px;
  }
}

.item-title-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

  p {
    margin: 0;
    font-weight: bold;
    color: var(--wcp-clr-text);
  }
}

.alert-icon {
  inline-size: var(--wcp-sz-icon);
  block-size: var(--wcp-sz-icon);
  fill: var(--type-color);
}
