.sidePanel {
  padding: 10px 20px;
  padding-top: 0;
  height: 100vh;
  height: 100dvh;
  min-width: 260px;
  background-color: var(--nav-color);
  box-shadow: 2px 0px 7px #00000024;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
}

.close-panel {
  position: sticky;
  top: 20px;
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  transform: translateX(25px);
  z-index: 100;
}
.close-panel > svg {
  all: unset;
  padding: 5px;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  width: 30px;
  height: 30px;
  fill: var(--text-color);
  transition: all 100ms;
}
.close-panel svg:hover {
  fill: var(--secondary-color);
  transform: scale(1.1);
}

.hints {
  margin-top: 5px;
  overflow: hidden;
  max-height: 680px;
  transition: max-height .7s cubic-bezier(0.16, 1, 0.3, 1);
}

.close {
  max-height: 60px;
}

.open {
  max-height: 680px;
}

.hints-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.hints-title-container svg {
  height: 40px;
  width: 40px;
  fill: var(--text-color);
  transform: rotate(0deg);
  cursor: pointer;
  transition: transform 300ms ease-out;
}
.hints-title-container svg:hover {
  fill: var(--secondary-color);
  transform: scale(1.1);
}

.hints > * {
  color: var(--text-color);
}

.hints ul {
  padding: 0;
}

.hints ul li {
  margin: 5px 0;
  line-height: 1.5;
}

.hints ul li p {
  margin: 0px;
  margin-left: 5px;
}

.options * {
  color: var(--text-color);
}

.options input[type='checkbox'] {
  margin-right: 10px;
  margin-bottom: 20px;
}

.options-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.options-duration > input {
  all: unset;
  color: var(--text-color);
  background-color: var(--svg-background-color);
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 16px;
  text-align: left;
  width: calc(100% - 20px);
  transition: background-color 300ms ease;
}
.options-duration > input:focus {
  background-color: var(--input-focused);
  border: solid 1px var(--main-color);
}
.options-duration > p {
  margin: 0;
  margin-right: 10px;
  min-width: 65px;
}
.build-in-eases {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.build-in-eases > p {
  color: var(--text-color);
  margin: 0;
  margin-right: 10px;
  min-width: 65px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.buttons {
  all: unset;
  display: block;
  width: calc(100% - 16px);
  font-size: 18px;
  flex-grow: 1;
  margin: 0px;
  background-color: var(--main-color);
  padding: 8px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 100ms;
}
.buttons:hover {
  transform: scale(1.01);
}
.buttons:active {
  transform: translate(1px);
}

.results {
  color: var(--text-color);
  margin-bottom: 20px;
}

.builtin-select-container {
  margin: auto;
  text-align: center;
}
.builtin-select-container svg {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}
.builtin-select-button {
  all: unset;
  position: relative;
  background-color: var(--svg-background-color);
  color: var(--text-color);
  padding: 6px 0px;
  border-radius: 5px;
  border: solid 1px transparent;
  width: 100%;
  cursor: pointer;
  transition: all 200ms;
}
.builtin-select-active button,
.builtin-select-container button:hover {
  color: white;
  background-color: var(--input-focused);
  border: solid 1px var(--main-color);
}
.builtin-select-active svg,
.builtin-select-container:hover svg {
  fill: #fff;
}
