.sidePanel {
  padding: 10px 20px;
  padding-top: 0;
  height: 100vh;
  height: 100dvh;
  min-width: 260px;
  background-color: var(--nav-color);
  box-shadow: 2px 0px 7px #00000024;
  overflow-y: auto;
  z-index: 1;
}

.close-panel {
  all: unset;
  position: sticky;
  top: 20px;
  float: right;
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  z-index: 100;
  animation: bounce-right 4s both infinite;
}
.close-panel > svg {
  width: 30px;
  height: 30px;
  fill: var(--text-color);
  transition: all 100ms;
}
.close-panel svg:hover {
  fill: var(--secondary-color);
  transform: scale(1.1);
}
@keyframes bounce-right {
  0% {
    transform: translateX(10px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  10% {
    transform: translateX(0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.hints {
  margin-top: 10px;
}

.hints > * {
  color: var(--text-color);
}

.hints ul {
  padding: 0;
  padding-left: 10px;
}

.hints ul li {
  margin: 5px 0;
  line-height: 1.5;
}

.options * {
  color: var(--text-color);
}

.options input[type='checkbox'] {
  margin-right: 10px;
  margin-bottom: 20px;
}

.options-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.options-duration > input {
  all: unset;
  color: var(--text-color);
  background-color: var(--svg-background-color);
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: 16px;
  text-align: left;
  width: calc(100% - 20px);
  transition: background-color 300ms ease;
}
.options-duration > input:focus {
  background-color: var(--input-focused);
  border: solid 1px var(--main-color);
}
.options-duration > p {
  margin: 0;
  margin-right: 10px;
  min-width: 65px;
}

.options-zoom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.options-zoom > p {
  margin: 0;
  margin-right: 10px;
  min-width: 65px;
}
.build-in-eases {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.build-in-eases > p {
  color: var(--text-color);
  margin: 0;
  margin-right: 10px;
  min-width: 65px;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.buttons {
  all: unset;
  display: block;
  width: calc(100% - 16px);
  font-size: 18px;
  flex-grow: 1;
  margin: 0px;
  background-color: var(--main-color);
  padding: 8px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 100ms;
}
.buttons:hover {
  transform: scale(1.01);
}
.buttons:active {
  transform: translate(1px);
}

.results {
  color: var(--text-color);
  margin-bottom: 20px;
}
.results textarea {
  background-color: var(--svg-background-color);
  color: var(--text-color);
  padding: 10px;
  border: solid 1px transparent;
  border-radius: 5px;
  resize: none;
  width: calc(100% - 10px);
  font-size: 16px;
  outline: none;
  transition: background-color 300ms ease;
}
.results textarea:focus {
  background-color: var(--input-focused);
  border: solid 1px var(--main-color);
}

.builtin-select-container {
  margin: auto;
  text-align: center;
}
.builtin-select-container svg {
  position: absolute;
  left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}
.builtin-select-button {
  all: unset;
  position: relative;
  background-color: var(--svg-background-color);
  color: var(--text-color);
  padding: 6px 0px;
  border-radius: 5px;
  border: solid 1px transparent;
  width: 100%;
  cursor: pointer;
  transition: all 200ms;
}
.builtin-select-active button,
.builtin-select-container button:hover {
  color: white;
  background-color: var(--input-focused);
  border: solid 1px var(--main-color);
}
.builtin-select-active svg,
.builtin-select-container:hover svg {
  fill: #fff;
}
