.small-side-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 70px;
  height: 100%;
  height: 100dvh;
  background-color: var(--nav-color);
  overflow-y: auto;
  z-index: 0;
}

.small-side-panel > button,
.small-side-panel-buttons {
  all: unset;
  cursor: pointer;
  transition: transform 100ms;
}
.small-side-panel > button:active,
.small-side-panel-buttons:active {
  transform: translate(2px, 2px);
}

.small-side-panel svg {
  width: 30px;
  height: 30px;
  fill: var(--text-color);
  transition: all 100ms;
}

.open-panel {
  margin-top: 20px !important;
  margin-bottom: 40px !important;
}

.zoom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.small-side-panel svg:not(#zoom-slider-icon):hover {
  fill: var(--secondary-color);
  transform: scale(1.1);
}

/* .zoom-container input[type='range'] {
  -webkit-appearance: slider-vertical; 
  appearance: slider-vertical;
  width: 30px;
} */
