.svg {
  max-height: 100vh;
  min-height: 500px;
  aspect-ratio: 1;
  margin: auto;
  display: block;
}

.svg-background {
  fill: var(--svg-background-color);
}

.path {
  stroke: var(--active-path);
  fill: none;
  stroke-width: 1;
  transition: stroke 0.3s;
}

.point {
  fill: var(--main-color);
  transition: fill 0.2s;
}

.handle-point {
  fill: var(--secondary-color);
}

a:focus > .point {
  fill: var(--active-point);
}

.handle-line {
  stroke: var(--secondary-color);
  stroke-width: 0.8;
}

.grid-line {
  stroke: var(--grid-lines);
  stroke-width: 0.5;
}

.grid-text {
  fill: var(--text-color);
  font-size: 6px;
  stroke: none;
  user-select: none;
  transform-origin: center;
}

.animation-path {
  fill: none;
  stroke: var(--active-path);
  stroke-width: 1;
  display: none;
  pointer-events: none;
}
.animation-point {
  fill: var(--main-color);
}
.animation-horizontal-line,
.animation-vertical-line {
  stroke: var(--text-color);
  stroke-width: 0.5;
  display: none;
}
.animation-fill-line {
  stroke: var(--main-color);
  stroke-width: 1;
}
.animation-fill-line-bg {
  stroke: var(--text-color);
  stroke-width: 1;
}
