.small-side-panel {
  z-index: 1;
  visibility: hidden;
  grid-area: 1 / 1;
  inline-size: var(--small-side-panel-size);
  block-size: 100dvh;
  overflow: hidden;
  font-size: var(--small-side-panel-font-size);
  background-color: var(--clr-navigation-background);
  border-inline-end: solid 1px var(--clr-divider);
  box-shadow: 2px 0 7px var(--clr-shadow);
  backdrop-filter: blur(1px);
  translate: -100% 0;
  transition:
    translate var(--side-panel-duration) var(--side-panel-easing),
    visibility 0s var(--side-panel-duration);

  .side-panel-collapsed & {
    visibility: visible;
    translate: 0 0;
    transition-delay: 0s;
  }

  .panel-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    block-size: 100%;
  }

  .small-panel-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    .divider {
      margin-block: 0;
    }
  }

  @media screen and (max-width: 800px) {
    visibility: visible;
    grid-area: 2 / 1;
    inline-size: auto;
    block-size: var(--small-side-panel-size);
    border-block-start: solid 1px var(--clr-divider);
    border-inline-end: none;
    box-shadow: 0 -2px 7px var(--clr-shadow);
    translate: 0 0;
    transition-delay: 0s;

    .side-panel-expanded & {
      visibility: hidden;
      translate: 0 100%;
      transition-delay: 0s, var(--side-panel-duration);
    }

    .panel-container {
      flex-direction: row;
      align-items: center;
      block-size: 100%;
    }

    .small-panel-group {
      flex-direction: row;

      .divider {
        inline-size: 1px;
        block-size: 1.5em;
      }
    }
  }

  .small-panel-controls-btn {
    display: block;
    padding: 0.5em;
    font-size: inherit;
    color: var(--clr-on-accent);
    cursor: pointer;
    background-color: var(--clr-accent);
    border: none;
    border-radius: 50%;

    .small-control-btn-icon {
      display: block;
      inline-size: 1.5em;
      block-size: 1.5em;
      fill: currentcolor;
    }
  }
}
