.small-side-panel {
  display: none;
  inline-size: 75px;
  min-inline-size: 0;
  block-size: 100dvh;
  overflow: hidden;
  background-color: var(--clr-navigation-background);
  border-inline-end: solid 1px var(--clr-divider);
  box-shadow: 2px 0 7px var(--clr-shadow);
  backdrop-filter: blur(1px);

  .panel-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    block-size: 100%;
  }

  .small-panel-group {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

    .divider {
      margin-block: 0;
    }
  }

  .small-panel-controls-btn {
    display: block;
    padding: 0.5em;
    font-size: 1rem;
    color: var(--clr-on-accent);
    cursor: pointer;
    background-color: var(--clr-accent);
    border: none;
    border-radius: 50%;

    .small-control-btn-icon {
      display: block;
      inline-size: 1.5em;
      block-size: 1.5em;
      fill: currentcolor;
    }
  }
}
