@import url("../wcp-default-styles.css");

:host {
  /*
    The background color of the option element.
    @name --ui-clr-surface-1
  */
  --wcp-clr-background: var(--ui-clr-surface-1, var(--def-clr-surface-1));

  /*
    The background color of the option element when it is active.
    @name --ui-clr-accent
  */
  --wcp-clr-active: var(--ui-clr-accent, var(--def-clr-accent));

  /*
    The background color of the option element when it is hovered.
    @name --ui-clr-surface-2
  */
  --wcp-clr-hover: var(--ui-clr-surface-2, var(--def-clr-surface-2));

  display: block;
}

.option {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
  border-radius: 6px;
  transition: background-color 300ms ease;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.option[aria-disabled="true"] {
  cursor: unset;
  opacity: 0.5;
}

.option[aria-selected="true"],
.option[aria-checked="true"] {
  background-color: var(--wcp-clr-active);
}

@media (hover: hover) and (pointer: fine) {
  .option:not([aria-selected="true"], [aria-checked="true"]):hover {
    background-color: var(--wcp-clr-hover);
  }
}

::slotted(svg) {
  inline-size: 24px;
  block-size: 24px;
  fill: currentcolor;
}
