:host {
  /* The background color of the option element. */
  --background-color: #333;

  /* The background color of the option element when it is active. */
  --active-color: #2196f3;

  /* The background color of the option element when it is hovered. */
  --hover-color: #3b3b3b;

  display: contents;
}

.option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: background-color 300ms ease;

  @media (prefers-reduced-motion) {
    transition: none;
  }
}

.option[aria-disabled="true"] {
  opacity: 0.5;
  cursor: unset;
}

.option[aria-selected="true"],
.option[aria-checked="true"] {
  background-color: var(--active-color);
}

@media (hover: hover) and (pointer: fine) {
  .option:not([aria-selected="true"], [aria-checked="true"]):hover {
    background-color: var(--hover-color);
  }
}

::slotted(svg) {
  width: 24px;
  height: 24px;
  fill: currentcolor;
}
