:host {
  /* The default font family of the code editor. */
  --font-family: monospace;

  /* The default font size of the code editor. */
  --font-weight: normal;

  /* The default font size of the code editor. */
  --sz-font: 1rem;

  /* The default line height of the code editor. */
  --line-height: 1.5;

  /* The default background color of the code editor. */
  --clr-background: #1f1f1f;

  /* The background color of the selected text. */
  --clr-text-selection: #3a3a9e;

  /* The color of the scrollbar. */
  --clr-scrollbar: #292929;

  /* The width of the line numbers column. */
  --sz-line-numbers-width: calc(var(--sz-font) * 3);

  display: block;
}

.wrapper {
  border-radius: 4px;
  background-color: var(--clr-background);
  border: 1px solid #ffffff1a;
  box-shadow: 0 0.1rem 1rem -0.5rem #0006;
  transition: background-color 100ms linear;

  &:has(.textarea:focus:not(:read-only)) {
    background-color: hsl(from var(--clr-background) h s max(10, l * 0.8));
    outline: solid 1px currentcolor;
  }
}

.container {
  position: relative;
  display: flex;
  padding: 0.5rem;
}

.copy-btn {
  display: none;
  place-items: center;
  position: absolute;
  inset-inline-end: 0.4rem;
  inset-block-start: 0.4rem;
  border: none;
  padding: 0.4rem;
  border-radius: 8px;
  background-color: hsl(from var(--clr-background) h s calc(l * 0.9));
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 200ms linear;

  &:hover {
    opacity: 1;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: currentcolor;
  }
}

.textarea {
  flex: 1;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: transparent;
  caret-color: #cacaca;
  resize: none;

  &:focus {
    outline: none;
  }

  &::selection {
    color: var(--clr-text-selection);
    background-color: var(--clr-text-selection);
  }

  /* stylelint-disable-next-line selector-no-vendor-prefix */
  &::-moz-selection {
    color: var(--clr-text-selection);
    background-color: var(--clr-text-selection);
  }
}

.highlight {
  position: absolute;
  top: 0;
  overflow: hidden;
  pointer-events: none;
}

.box {
  border: none;
  white-space: pre;
  word-break: break-all;
  overflow-wrap: break-word;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--sz-font);
  line-height: var(--line-height);
}

.wrap {
  white-space: pre-wrap;
}

.line-numbers-placeholder {
  display: none;
  width: var(--sz-line-numbers-width);
}

ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-inline-start: var(--sz-line-numbers-width);

  li::marker {
    content: counter(list-item) "  ";
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--sz-font);
    line-height: var(--line-height);
    color: hsl(from var(--clr-background) h s max(25, l * 3));
    transition-property: color;
    transition-duration: 100ms;
    transition-timing-function: linear;
  }

  li.active::marker {
    font-weight: bold;
    color: hsl(from var(--clr-background) h s max(35, l * 5));
  }
}

@media (hover: hover) and (pointer: fine) {
  @supports (scrollbar-width: thin) {
    .textarea {
      scrollbar-width: thin;
      scrollbar-color: var(--clr-scrollbar);
      scrollbar-base-color: #3a3a9e;
      scrollbar-track-color: #3a3a9e;
    }
  }

  .textarea::-webkit-scrollbar-corner {
    background: transparent;
  }

  .textarea::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .textarea::-webkit-scrollbar-track {
    background: transparent;
  }

  .textarea::-webkit-scrollbar-thumb {
    background: var(--clr-scrollbar);
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
}

.hidden-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
    cursor: unset;
    pointer-events: none;
  }
}
