:root {
  --main-color: #a370f0;
  --secondary-color: #0175ff;
  --active-point: #4caf50;
  --nav-color: #202020;
  --text-color: #aaa;
  --background-color: #222;
  --svg-background-color: #303030;
  --grid-lines: #222222;
  --active-path: white;
  --blured-path: gray;
  --input-focused: #0e0e10;

  --position: 50%;
}

body {
  touch-action: pinch-zoom;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;

  background-color: var(--background-color);
  background-image: radial-gradient(var(--svg-background-color) 1px, var(--background-color) 1px);
  background-size: 20px 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-weight: bold;
  background-color: #000a;
  padding: 2px 5px;
  border-radius: 5px;
  border: solid 1px #aaa2;
}

hr {
  border-color: var(--text-color);
  opacity: 0.2;
  border-width: 0.5px;
  margin: 40px -10px;
}

@media (hover: hover) and (pointer: fine) {
  .custom-scrollbar {
    scrollbar-width: 6px;
    scrollbar-color: #7a7a7a50;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #7a7a7a00;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #7a7a7a50;
  }
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
  z-index: -1;
}

.container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

input[type='range'] {
  accent-color: var(--secondary-color);
}
input[type='checkbox'] {
  accent-color: var(--secondary-color);
}
/* .animation-point.point {
  animation: my-custom-easing 4s 100ms linear infinite alternate;
}
@keyframes my-custom-easing {
  0% { cy: 350px; }
  1% { cy: 349.75px; }
  2% { cy: 349.02px; }
  3% { cy: 347.8px; }
  4% { cy: 346.1px; }
  5% { cy: 343.93px; }
  6% { cy: 341.3px; }
  7% { cy: 338.21px; }
  8% { cy: 334.67px; }
  9% { cy: 330.68px; }
  10% { cy: 326.25px; }
  11% { cy: 321.38px; }
  12% { cy: 316.08px; }
  13% { cy: 310.35px; }
  14% { cy: 304.19px; }
  15% { cy: 297.62px; }
  16% { cy: 290.62px; }
  17% { cy: 283.22px; }
  18% { cy: 275.34px; }
  19% { cy: 266.57px; }
  20% { cy: 257.6px; }
  21% { cy: 248.81px; }
  22% { cy: 239.43px; }
  23% { cy: 229.59px; }
  24% { cy: 219.16px; }
  25% { cy: 208.3px; }
  26% { cy: 197.08px; }
  27% { cy: 185.42px; }
  28% { cy: 173.33px; }
  29% { cy: 160.79px; }
  30% { cy: 147.8px; }
  31% { cy: 134.33px; }
  32% { cy: 120.38px; }
  33% { cy: 105.9px; }
  34% { cy: 90.85px; }
  35% { cy: 75.16px; }
  36% { cy: 58.69px; }
  37% { cy: 54.24px; }
  38% { cy: 62.1px; }
  39% { cy: 69.36px; }
  40% { cy: 76.14px; }
  41% { cy: 82.46px; }
  42% { cy: 88.35px; }
  43% { cy: 93.81px; }
  44% { cy: 98.85px; }
  45% { cy: 103.48px; }
  46% { cy: 107.68px; }
  47% { cy: 111.46px; }
  48% { cy: 114.8px; }
  49% { cy: 117.69px; }
  50% { cy: 120.13px; }
  51% { cy: 122.1px; }
  52% { cy: 123.57px; }
  53% { cy: 124.55px; }
  54% { cy: 124.99px; }
  55% { cy: 124.9px; }
  56% { cy: 124.28px; }
  57% { cy: 123.17px; }
  58% { cy: 121.59px; }
  59% { cy: 119.56px; }
  60% { cy: 117.08px; }
  61% { cy: 114.18px; }
  62% { cy: 110.87px; }
  63% { cy: 107.14px; }
  64% { cy: 103.02px; }
  65% { cy: 98.51px; }
  66% { cy: 93.61px; }
  67% { cy: 88.32px; }
  68% { cy: 82.64px; }
  69% { cy: 76.56px; }
  70% { cy: 70.06px; }
  71% { cy: 63.12px; }
  72% { cy: 55.65px; }
  73% { cy: 51.24px; }
  74% { cy: 54.95px; }
  75% { cy: 58.2px; }
  76% { cy: 61.03px; }
  77% { cy: 63.46px; }
  78% { cy: 65.48px; }
  79% { cy: 67.06px; }
  80% { cy: 68.18px; }
  81% { cy: 68.8px; }
  82% { cy: 68.85px; }
  83% { cy: 68.36px; }
  84% { cy: 67.37px; }
  85% { cy: 65.96px; }
  86% { cy: 64.16px; }
  87% { cy: 62.01px; }
  88% { cy: 59.52px; }
  89% { cy: 56.7px; }
  90% { cy: 53.55px; }
  91% { cy: 50px; }
  92% { cy: 52.19px; }
  93% { cy: 53.56px; }
  94% { cy: 54.37px; }
  95% { cy: 54.75px; }
  96% { cy: 54.75px; }
  97% { cy: 54.37px; }
  98% { cy: 53.56px; }
  99% { cy: 52.19px; }
  100% { cy: 50px; }
} */