.export-dialog {
  [hidden] {
    display: none !important;
  }

  sv-segmented-control {
    --sv-gray-6: var(--sb-color-gray-7);
    --sv-bdr-rad-lg: 8px;

    &::part(indicator),
    button {
      border-radius: 4px;
    }

    button {
      padding-block: 0.2em;
    }

    [aria-checked="true"] {
      color: var(--sv-accent-content);
    }
  }

  .checkbox-label-container {
    flex-direction: row-reverse;
    gap: 0.8em;
    justify-content: flex-end;
    padding-block: 0.5em;
    margin-block: 0;

    label {
      flex: none;
    }
  }

  .export-preview,
  .export-plot {
    color: var(--sb-color-accent);
    background-color: var(--sb-color-gray-7);
    border: solid 1px var(--sb-color-gray-5);
    border-radius: 8px;
  }

  .export-preview {
    display: grid;
    place-items: center;
    padding: 0.8em;

    svg {
      inline-size: auto;
      max-inline-size: 100%;
      block-size: auto;
      max-block-size: 16rem;
    }
  }

  .export-plot {
    display: block;
    inline-size: 100%;
    block-size: 14rem;
  }

  .export-code-preview {
    &::part(textarea) {
      min-block-size: 200px;
      max-block-size: 300px;
    }
  }

  #export-css-keyframe-property {
    --sv-gray-5: var(--sb-color-gray-5);
    --sv-gray-6: var(--sb-color-gray-7);
    --sv-active-line-background: transparent;
    --sv-active-line-outline: transparent;
    --sv-bdr-sz-sm: 1px;
    --sv-padding: 0.5em;

    min-inline-size: 0;

    &:state(--focus) {
      --sv-gray-5: var(--sb-color-accent);
      --sv-gray-6: var(--sb-color-black);
    }

    &::part(wrapper) {
      transition-timing-function: ease;
      transition-duration: 200ms;
      transition-property: border-color, background-color;
    }
  }

  input {
    min-inline-size: 0;
    margin-inline: 1px;
    text-align: start;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .export-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .export-dialog-title {
    margin-block: 0.2em 2em;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .label-input-container {
    display: grid;
    flex-direction: row;
    grid-template-columns: 7em 1fr;
    gap: 1em;
    align-items: center;

    label,
    .label {
      cursor: unset;
    }
  }

  .export-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .export-btn {
    flex: 1;
    padding: 0.4em 0.5em;
    margin-block-start: 1em;
    font-size: 1rem;
    color: oklch(98% 0.009 var(--sb-hue-base));
    cursor: pointer;
    background-color: var(--sb-color-accent);
    border: solid 1px transparent;
    border-radius: 8px;
  }

  .warning {
    padding: 0.5em 1em;
    margin-block-end: 1em;
    font-size: 1rem;
    color: var(--sb-warning-text);
    background-color: var(--sb-warning-background);
    border: 1px solid var(--sb-warning-border);
    border-radius: 4px;
  }
}
