.export-dialog {
  .export-code-preview {
    &::part(textarea) {
      min-block-size: 100px;
      max-block-size: 300px;
    }
  }

  #export-css-keyframe-property {
    --sv-gray-5: var(--sb-color-gray-5);
    --sv-gray-6: var(--sb-color-gray-7);
    --sv-active-line-background: transparent;
    --sv-active-line-outline: transparent;
    --sv-bdr-sz-sm: 1px;
    --sv-bdr-rad-md: 4px;
    --sv-padding: 0.5em;

    &:state(--focus) {
      --sv-gray-5: var(--sb-color-accent);
      --sv-gray-6: var(--sb-color-black);
    }

    &::part(wrapper) {
      transition-timing-function: ease;
      transition-duration: 200ms;
      transition-property: border-color, background-color;
    }
  }

  input {
    min-inline-size: 0;
    padding-block: 0.7em;
    margin-inline: 1px;
    text-align: start;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .export-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .export-dialog-title {
    margin-block: 0.2em 2em;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .label-input-container {
    display: grid;
    flex-direction: row;
    grid-template-columns: 75px 1fr;
    gap: 1em;
    align-items: center;

    label,
    .label {
      cursor: unset;
    }
  }

  .export-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .export-btn {
    flex: 1;
    padding: 0.5em;
    margin-block-start: 1em;
    font-size: 1rem;
    color: oklch(98% 0.009 var(--sb-hue-base));
    cursor: pointer;
    background-color: var(--sb-color-accent);
    border: none;
    border-radius: 4px;
  }

  .warning {
    display: none;
    padding: 0.5em 1em;
    margin-block-end: 1em;
    font-size: 1rem;
    color: var(--sb-warning-text);
    background-color: var(--sb-warning-background);
    border: 1px solid var(--sb-warning-border);
    border-radius: 4px;
  }
}
