main {
  display: grid;
  grid-template-columns: auto 1fr;
  overflow: hidden;
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: var(--clr-selection);
  }

  /* stylelint-disable-next-line selector-no-vendor-prefix */
  &::-moz-selection {
    background-color: var(--clr-selection);
  }
}

html {
  font-family:
    -apple-system, blinkmacsystemfont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  accent-color: var(--clr-accent);
  color-scheme: dark light;

  @media (prefers-color-scheme: light) {
    color-scheme: light;
  }

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  color: var(--clr-text);
  background-color: var(--clr-bg);
  background-image: radial-gradient(var(--clr-bg-dot) 1px, var(--clr-bg) 1px);
  background-size: 20px 20px;
}

body,
html {
  padding: 0;
  margin: 0;
}

button,
label,
input {
  font-family: inherit;
  font-size: 1rem;
  color: inherit;
}

label {
  cursor: pointer;
}

input {
  padding: 0.5em;
  color: var(--clr-text);
  outline: none;
  background-color: var(--clr-input);
  border: 1px solid var(--clr-border);
  border-radius: var(--sv-bdr-rad-sm);
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: border-color, background-color, color;
}

input:focus {
  color: var(--sb-color-gray-0);
  background-color: var(--clr-input-active);
  border-color: var(--clr-accent);
}

input[type="number"] {
  font-family: monospace;
  text-align: center;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
}

kbd {
  display: inline-block;
  min-inline-size: 1.5em;
  padding: 0 5px;
  margin-inline-end: 0.15em;
  text-align: center;
  border: 2px solid var(--clr-accent);
  border-radius: 0.25em;
  box-shadow: 2px 2px var(--clr-border);

  & > * {
    display: block;
  }
}

.divider {
  inline-size: 100%;
  block-size: 1px;
  margin-block: 1em;
  background-color: var(--clr-divider);
}

.panel-container {
  padding: 1em;
}

.toggle-panel-btn {
  padding: 0;
  cursor: pointer;
  background-color: unset;
  border: unset;

  svg {
    display: block;
    inline-size: var(--sz-panel-icon);
    block-size: var(--sz-panel-icon);
    fill: var(--clr-icon);
  }
}

.icon-btn {
  padding: 0 0.2em;
  cursor: pointer;
  background-color: unset;
  border: unset;

  svg {
    display: block;
    inline-size: var(--sz-panel-icon);
    block-size: var(--sz-panel-icon);
    fill: var(--clr-icon);
  }
}

@media (hover: hover) and (pointer: fine) {
  @supports (scrollbar-color: currentcolor transparent) {
    .custom-scrollbar {
      scrollbar-color: var(--clr-scrollbar) transparent;
      scrollbar-width: thin;
    }
  }

  .custom-scrollbar::-webkit-scrollbar {
    inline-size: 6px;
    block-size: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 3px;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: var(--clr-scrollbar);
  }

  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background: transparent;
  }
}
