graph-editor {
  block-size: 100dvh;
  background-color: unset;
  background-image: unset;
  background-size: unset;
}

sv-code-editor {
  --sv-gray-6: var(--clr-input-active);
}

sv-combobox {
  --sv-gray-6: var(--clr-input-active);
  --sv-gray-0: var(--clr-text);
  --sv-gray-5: var(--clr-border);
  --sv-bdr-rad-md: 4px;

  &::part(trigger) {
    transition-timing-function: ease;
    transition-duration: 200ms;
    transition-property: border-color, background-color;
  }

  &:focus-within {
    --sv-gray-0: var(--sb-color-gray-0);
    --sv-gray-6: var(--clr-bg);
  }
}

sv-slider {
  --sv-thickness: 10px;
  --sv-gray-6: var(--sb-color-gray-4);

  display: block;
}

sv-toggle-checkbox {
  --sv-checkbox-sz: 24px;
  --sv-gray-6: transparent;
}

sv-tooltip {
  --sv-gray-2: var(--clr-text);

  max-inline-size: 40ch;
  padding: 0.4em 0.7em;
  font-size: 1rem;
}

sv-tooltip:not(:defined) {
  display: none;
}

sv-flyout::part(content) {
  padding: 0.5em;
  background-color: color-mix(in oklab, var(--clr-input-active) 95%, transparent);
  backdrop-filter: blur(4px);
}
