.export-dialog {
  code-editor {
    --background-color: #222;

    flex: 1;

    &::part(wrapper) {
      box-shadow: none;
    }
  }

  #export-css-keyframe-property::part(box) {
    padding-bottom: 0;
  }

  .export-code-preview {
    &::part(textarea) {
      max-height: 300px;
      min-height: 100px;
    }
  }

  input {
    min-width: 0;
    text-align: start;
    margin-inline: 1px;
    padding-block: 0.7em;
    background-color: #222;
  }

  input:focus {
    background-color: var(--clr-input-active);
    border-color: var(--clr-accent);
    color: hsl(from var(--clr-text) h s calc(l * 1.2));
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .export-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .export-dialog-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .label-input-container {
    display: grid;
    grid-template-columns: 75px 1fr;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    label {
      cursor: unset;
    }
  }

  .export-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  .export-btn {
    flex: 1;
    background-color: var(--clr-accent);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5em;
    margin-top: 1em;
    cursor: pointer;
    transition: scale 100ms ease;

    &:active {
      scale: 0.95;
    }
  }

  .warning {
    display: none;
    background-color: #ffc40236;
    color: #fff;
    border-radius: 4px;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    font-size: 1rem;
  }
}
