:root {
  --clr-accent: var(--clr-accent1-450);
  --clr-secondary: var(--clr-accent3-450);
  --clr-pure: var(--clr-accent1-50);
  --clr-text: var(--clr-neutral2-300);
  --clr-text-faded: var(--clr-neutral2-400);
  --clr-navigation-background: hsl(from var(--clr-neutral2-950) h s l / 50%);
  --clr-border: var(--clr-neutral2-700);
  --clr-divider: var(--clr-neutral2-800);
  --clr-input: var(--clr-neutral2-800);
  --clr-input-active: var(--clr-neutral2-950);
  --clr-bg: var(--clr-neutral2-900);
  --clr-bg-dot: var(--clr-neutral2-800);

  /* Web-Components */
  --ui-clr-accent: var(--clr-accent1-450);
  --ui-clr-surface-1: var(--clr-neutral2-900);
  --ui-clr-surface-2: var(--clr-neutral2-800);
  --ui-clr-border: var(--clr-neutral2-700);
  --ui-clr-backdrop: hsl(from var(--clr-neutral2-990) h s l / 90%);
  --ui-rad-border-md: 6px;

  /* Staticview */
  --sv-accent: var(--clr-accent);
  --sv-accent-content: var(--clr-pure);
  --sv-gray-3: var(--clr-text-faded);
  --sv-gray-5: var(--clr-neutral2-700);
  --sv-gray-6: var(--ui-clr-surface-1);
  --sv-overlay: var(--ui-clr-backdrop);
  --sv-bdr-sz-md: 2px;
  --sv-bdr-rad-sm: 6px;
  --sv-bdr-rad-md: var(--ui-rad-border-md);
  --sv-bdr-rad-lg: 0.8em;

  @media screen and (max-width: 800px) {
    --base-font-size: 12px;
  }
}

* {
  --clr-selection: var(--clr-accent1-700);

  box-sizing: border-box;

  &::selection {
    background-color: var(--clr-selection);
  }

  /* stylelint-disable-next-line selector-no-vendor-prefix */
  &::-moz-selection {
    background-color: var(--clr-selection);
  }
}

html {
  font-family:
    -apple-system, blinkmacsystemfont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  color-scheme: dark;
}

body {
  color: var(--clr-text);
  background-color: var(--clr-bg);
  background-image: radial-gradient(var(--clr-bg-dot) 1px, var(--clr-bg) 1px);
  background-size: 20px 20px;
}

body,
html {
  padding: 0;
  margin: 0;
}

button,
label,
input {
  font-family: inherit;
  font-size: 1rem;
}

label {
  cursor: pointer;
}

input {
  padding: 0.5em;
  color: var(--clr-text);
  outline: none;
  background-color: var(--clr-input);
  border: 1px solid var(--clr-border);
  border-radius: 4px;
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: border-color, background-color, color;
}

input:focus {
  color: hsl(from var(--clr-text) h s calc(l * 1.2));
  background-color: var(--clr-input-active);
  border-color: var(--ui-clr-accent);
}

input[type="number"] {
  font-family: monospace;
  text-align: center;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-appearance: none;
}

kbd {
  display: inline-block;
  min-inline-size: 1.5em;
  padding: 0 5px;
  margin-inline-end: 0.15em;
  text-align: center;
  border: 2px solid var(--ui-clr-accent);
  border-radius: 0.25em;
  box-shadow: 2px 2px #252525;

  & > * {
    display: block;
  }
}

code-editor {
  --ui-clr-surface-1: var(--clr-neutral2-750);

  &::part(wrapper) {
    box-shadow: none;
  }
}

graph-editor {
  block-size: 100dvh;
  background-color: unset;
  background-image: unset;
  background-size: unset;
}

.checkbox-label-container {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  margin-block: 1em;

  label {
    flex: 1;
    text-align: start;
    cursor: pointer;
    user-select: none;
  }
}

sv-toggle-checkbox {
  --sv-checkbox-sz: 24px;
  --sv-gray-6: transparent;
}

select-option::part(option) {
  justify-content: space-between;
}

menu-component::part(container) {
  padding: 0.5em;
  background-color: hsl(from var(--clr-input-active) h s l / 95%);
  backdrop-filter: blur(4px);
}

sv-slider {
  --sv-thickness: 10px;
  --sv-gray-2: var(--clr-neutral2-10);
  --sv-gray-6: var(--clr-neutral2-300);

  display: block;
}

menu-trigger {
  --ui-clr-surface-1: var(--clr-input);
  --ui-clr-surface-2: var(--clr-input);

  &::part(trigger) {
    font-size: 1rem;
    color: var(--clr-text);
  }
}
