/* stylelint-disable property-no-vendor-prefix */
:root {
  --clr-accent: #a370f0;
  --clr-text: #aaa;
  --clr-text-faded: #808080;
  --clr-navigation-background: #14141450;
  --clr-border: #2b2b2b;
  --clr-input: #303030;
  --clr-input-active: #0e0e10;
  --clr-bg: #222;

  @media screen and (max-width: 800px) {
    --base-font-size: 12px;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 1rem;
  color-scheme: dark;
}

body {
  color: var(--clr-text);
  background-color: var(--clr-bg);
  background-image: radial-gradient(#303030 1px, var(--clr-bg) 1px);
  background-size: 20px 20px;
}

body,
html {
  padding: 0;
  margin: 0;
}

button,
label,
input {
  font-family: inherit;
  font-size: 1rem;
}

label {
  cursor: pointer;
}

input {
  padding: 0.5em;
  color: var(--clr-text);
  outline: none;
  background-color: var(--clr-input);
  border: 1px solid #ffffff1a;
  border-radius: 4px;
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: border-color, background-color, color;
}

input:focus {
  color: hsl(from var(--clr-text) h s calc(l * 1.2));
  background-color: var(--clr-input-active);
  border-color: var(--clr-accent);
}

input[type="number"] {
  font-family: monospace;
  text-align: center;
  -moz-appearance: textfield;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

kbd {
  display: inline-block;
  min-inline-size: 1.5em;
  padding: 0 5px;
  margin-inline-end: 0.15em;
  text-align: center;
  border: 2px solid var(--clr-accent);
  border-radius: 0.25em;
  box-shadow: 2px 2px #252525;

  & > * {
    display: block;
  }
}

graph-editor {
  block-size: 100dvh;
  background-color: unset;
  background-image: unset;
  background-size: unset;
}

code-editor {
  --clr-background: var(--clr-input);

  border: solid 1px transparent;
}

code-editor::part(wrapper) {
  outline: none;
  transition-timing-function: ease;
  transition-duration: 200ms;
  transition-property: border-color, background-color;
}

code-editor:state(focus)::part(wrapper) {
  background-color: var(--clr-input-active);
  border-color: var(--clr-accent);
}

code-editor::part(box) {
  min-inline-size: 0;
  padding-block-end: 1em;
}

toggle-checkbox {
  --clr-active: var(--clr-accent);
  --clr-inactive: #00000021;

  margin-block: 1em;

  &::part(label) {
    text-align: start;
  }
}

select-option {
  --clr-active: var(--clr-accent);

  &::part(option) {
    justify-content: space-between;
  }
}

menu-component::part(container) {
  padding: 0.5em;
  background-color: hsl(from var(--clr-input-active) h s l / 90%);
  backdrop-filter: blur(5px);
}

slider-component {
  --sz-thickness: 10px;
  --clr-filled: var(--clr-accent);

  &::part(bubble) {
    display: none;
  }
}

dialog-component {
  &::part(content) {
    overflow: auto;
  }
}
