:root {
  --clr-seed: #8000ff;
  --style: "FRUIT_SALAD";

  /* pure */
  --clr-white: #fff;
  --clr-black: #000;

  /* accent1 */
  --clr-accent1-10: #fdfcff;
  --clr-accent1-50: #eaf1ff;
  --clr-accent1-100: #d2e4ff;
  --clr-accent1-150: #b9d7ff;
  --clr-accent1-200: #9fcaff;
  --clr-accent1-250: #8dbcf6;
  --clr-accent1-300: #7faee8;
  --clr-accent1-350: #71a1d9;
  --clr-accent1-400: #6494cb;
  --clr-accent1-450: #5787bd;
  --clr-accent1-500: #4879af;
  --clr-accent1-550: #3b6da2;
  --clr-accent1-600: #2d6195;
  --clr-accent1-650: #1e5588;
  --clr-accent1-700: #09497c;
  --clr-accent1-750: #003d6b;
  --clr-accent1-800: #003259;
  --clr-accent1-850: #002747;
  --clr-accent1-900: #001d37;
  --clr-accent1-950: #001225;
  --clr-accent1-990: #00040c;

  /* accent2 */
  --clr-accent2-10: #fdfcff;
  --clr-accent2-50: #eaf1ff;
  --clr-accent2-100: #d2e4ff;
  --clr-accent2-150: #b9d7ff;
  --clr-accent2-200: #a1cafd;
  --clr-accent2-250: #93bcef;
  --clr-accent2-300: #86aee0;
  --clr-accent2-350: #78a1d2;
  --clr-accent2-400: #6b93c4;
  --clr-accent2-450: #5e86b6;
  --clr-accent2-500: #5079a8;
  --clr-accent2-550: #446d9b;
  --clr-accent2-600: #37618e;
  --clr-accent2-650: #295581;
  --clr-accent2-700: #1b4975;
  --clr-accent2-750: #083d69;
  --clr-accent2-800: #003259;
  --clr-accent2-850: #002747;
  --clr-accent2-900: #001d37;
  --clr-accent2-950: #001225;
  --clr-accent2-990: #00040c;

  /* accent3 */
  --clr-accent3-10: #fffbff;
  --clr-accent3-50: #f7edff;
  --clr-accent3-100: #ecdcff;
  --clr-accent3-150: #e1cbff;
  --clr-accent3-200: #d5bbfc;
  --clr-accent3-250: #c7aded;
  --clr-accent3-300: #b9a0df;
  --clr-accent3-350: #ab93d1;
  --clr-accent3-400: #9e86c3;
  --clr-accent3-450: #9079b5;
  --clr-accent3-500: #826ba6;
  --clr-accent3-550: #76609a;
  --clr-accent3-600: #6a548d;
  --clr-accent3-650: #5d4880;
  --clr-accent3-700: #513c73;
  --clr-accent3-750: #453167;
  --clr-accent3-800: #3a255b;
  --clr-accent3-850: #2f1a50;
  --clr-accent3-900: #240e45;
  --clr-accent3-950: #19023a;
  --clr-accent3-990: #070018;

  /* neutral1 */
  --clr-neutral1-10: #fffbff;
  --clr-neutral1-50: #f7edfc;
  --clr-neutral1-100: #e8dfee;
  --clr-neutral1-150: #dad1e0;
  --clr-neutral1-200: #ccc3d2;
  --clr-neutral1-250: #beb6c4;
  --clr-neutral1-300: #b0a8b6;
  --clr-neutral1-350: #a39ba9;
  --clr-neutral1-400: #958e9b;
  --clr-neutral1-450: #88818e;
  --clr-neutral1-500: #7a7480;
  --clr-neutral1-550: #6e6875;
  --clr-neutral1-600: #625c68;
  --clr-neutral1-650: #56505c;
  --clr-neutral1-700: #4a4550;
  --clr-neutral1-750: #3e3945;
  --clr-neutral1-800: #332e39;
  --clr-neutral1-850: #28242e;
  --clr-neutral1-900: #1e1a24;
  --clr-neutral1-950: #130f19;
  --clr-neutral1-990: #050309;

  /* neutral2 */
  --clr-neutral2-10: #fffbff;
  --clr-neutral2-50: #f7edff;
  --clr-neutral2-100: #eadef7;
  --clr-neutral2-150: #dcd0e9;
  --clr-neutral2-200: #cec2db;
  --clr-neutral2-250: #c0b4cd;
  --clr-neutral2-300: #b2a7bf;
  --clr-neutral2-350: #a499b1;
  --clr-neutral2-400: #978ca4;
  --clr-neutral2-450: #8a8096;
  --clr-neutral2-500: #7c7288;
  --clr-neutral2-550: #70677c;
  --clr-neutral2-600: #645b70;
  --clr-neutral2-650: #574f63;
  --clr-neutral2-700: #4b4357;
  --clr-neutral2-750: #40384c;
  --clr-neutral2-800: #352d40;
  --clr-neutral2-850: #2a2235;
  --clr-neutral2-900: #1f182a;
  --clr-neutral2-950: #140e1f;
  --clr-neutral2-990: #060210;
}

