:root {
  /* Hue */
  --sb-hue-accent: 85;
  --sb-hue-secondary: 300;
  --sb-hue-base: 305;

  /* Grayscale */
  --sb-color-gray-0: light-dark(oklch(30% 0.034 var(--sb-hue-base)), oklch(90% 0.017 var(--sb-hue-base)));
  --sb-color-gray-2: light-dark(oklch(36% 0.038 var(--sb-hue-base)), oklch(80% 0.03 var(--sb-hue-base)));
  --sb-color-gray-3: light-dark(oklch(44% 0.034 var(--sb-hue-base)), oklch(65% 0.028 var(--sb-hue-base)));
  --sb-color-gray-4: light-dark(oklch(66% 0.03 var(--sb-hue-base)), oklch(48% 0.024 var(--sb-hue-base)));
  --sb-color-gray-5: light-dark(oklch(88% 0.023 var(--sb-hue-base)), oklch(29% 0.02 var(--sb-hue-base)));
  --sb-color-gray-6: light-dark(oklch(93% 0.017 var(--sb-hue-base)), oklch(23% 0.017 var(--sb-hue-base)));
  --sb-color-gray-7: light-dark(oklch(96% 0.012 var(--sb-hue-base)), oklch(20.5% 0.014 var(--sb-hue-base)));
  --sb-color-black: light-dark(oklch(98% 0.009 var(--sb-hue-base)), oklch(18% 0.012 var(--sb-hue-base)));

  /* Colors */
  --sb-color-accent: light-dark(oklch(63% 0.1197 var(--sb-hue-accent)), oklch(63% 0.105 var(--sb-hue-accent)));
  --sb-color-accent-low: light-dark(oklch(50% 0.1 var(--sb-hue-accent)), oklch(40% 0.1 var(--sb-hue-accent)));
  --sb-color-secondary: light-dark(oklch(58% 0.13 var(--sb-hue-secondary)), oklch(70% 0.12 var(--sb-hue-secondary)));
  --sb-color-text: var(--sb-color-gray-2);

  /* Alert Colors */
  --sb-warning-background: light-dark(#fffbef, #2b2517);
  --sb-warning-border: light-dark(#b8860b, #8a6a1d);
  --sb-warning-text: light-dark(#6b4800, #f0d9a4);

  /* Roles */
  --clr-accent: var(--sb-color-accent);
  --clr-secondary: var(--sb-color-secondary);
  --clr-on-accent: oklch(98% 0.009 var(--sb-hue-base));
  --clr-icon: var(--sb-color-gray-0);
  --clr-text: var(--sb-color-text);
  --clr-text-faded: var(--sb-color-gray-3);
  --clr-navigation-background: color-mix(in oklab, var(--sb-color-gray-7) 50%, transparent);
  --clr-border: var(--sb-color-gray-5);
  --clr-divider: var(--sb-color-gray-5);
  --clr-input: var(--sb-color-gray-6);
  --clr-input-active: var(--sb-color-gray-7);
  --clr-bg: var(--sb-color-black);
  --clr-bg-dot: var(--sb-color-gray-5);
  --clr-selection: var(--sb-color-accent-low);
  --clr-shadow: light-dark(oklch(20% 0.012 var(--sb-hue-base) / 15%), oklch(0% 0 0deg / 40%));
  --clr-scrollbar: color-mix(in oklab, var(--sb-color-gray-3) 50%, transparent);
  --clr-hover: var(--sb-color-gray-5);

  /* Sizes */
  --sz-panel-icon: 28px;

  /* Staticview */
  --sv-accent: var(--sb-color-accent);
  --sv-accent-content: var(--clr-on-accent);
  --sv-gray-0: var(--sb-color-gray-0);
  --sv-gray-2: var(--sb-color-gray-2);
  --sv-gray-3: var(--sb-color-gray-3);
  --sv-gray-5: var(--sb-color-gray-5);
  --sv-gray-6: var(--sb-color-gray-6);
  --sv-overlay: color-mix(in oklab, var(--sb-color-black) 90%, transparent);
  --sv-error: #f44336;
  --sv-info: #2196f3;
  --sv-success: #4caf50;
  --sv-warning: #f90;
  --sv-bdr-sz-md: 2px;
  --sv-bdr-rad-sm: 6px;
  --sv-bdr-rad-md: 6px;
  --sv-bdr-rad-lg: 0.8em;
  --sv-dir: 1;

  @media screen and (max-width: 800px) {
    --base-font-size: 12px;
    --sz-panel-icon: 22px;
  }
}

[dir="rtl"] {
  --sv-dir: -1;
}
