:host {
  --dur-clr-transition: 150ms;
  --clr-panel-background: var(--clr-bg-dot);
  --clr-grid-line: var(--clr-bg);
  --clr-graph-txt: var(--clr-text-faded);

  /* anchors */
  --clr-anchor-circle: var(--clr-accent);
  --clr-active-anchor-circle: hsl(from var(--clr-accent) h calc(s * 2) l);
  --clr-focus-anchor-circle-stroke: var(--clr-icon);
  --size-anchor-circle: 6px;
  --size-anchor-stroke: 2px;

  /* ctrl */
  --clr-ctrl-circle: var(--clr-secondary);
  --clr-active-ctrl-circle: hsl(from var(--clr-secondary) h calc(s * 2) l);
  --clr-ctrl-line: var(--clr-secondary);
  --clr-active-ctrl-line: hsl(from var(--clr-secondary) h calc(s * 2) l);
  --size-ctrl-circle: 5px;

  /* path */
  --clr-path: var(--clr-icon);
  --clr-active-path: var(--clr-icon);
  --clr-filled-path: var(--clr-accent);
  --size-path-thickness: 2px;
  --size-filled-path-thickness: 3px;

  display: block;
  touch-action: pinch-zoom;
  background-color: var(--clr-grid-line);
  background-image: radial-gradient(var(--clr-panel-background) 1px, var(--clr-grid-line) 1px);
  background-size: 20px 20px;

  @media (prefers-reduced-motion) {
    --dur-clr-transition: 0ms;
  }
}

.main-svg {
  display: block;
  inline-size: 100%;
}

.graph-panel {
  overflow: visible;
}

.graph-panel-background {
  fill: var(--clr-panel-background);
}

.graph-panel-grid-lines line {
  stroke: var(--clr-grid-line);
  stroke-width: 1px;
}

.graph-panel-fps-counter {
  font-family: monospace;
  font-size: clamp(8px, 1px * var(--grid-size) / 30, 18px) !important;
  font-weight: bold;
  user-select: none;
  fill: var(--clr-graph-txt);
}

.graph-panel-grid-numbers text,
.graph-panel-labels text {
  font-family: monospace;
  font-size: clamp(8px, 1px * var(--grid-size) / 50, 18px);
  user-select: none;
  fill: var(--clr-graph-txt);
}

.svg-anim-representation {
  .empty-line {
    stroke: var(--clr-graph-txt);
    stroke-width: 1px;
  }

  .filled-line {
    stroke: var(--clr-anchor-circle);
    stroke-width: 1px;
  }

  .circle-indicator {
    fill: var(--clr-anchor-circle);
    r: clamp(2px, calc(1px * var(--grid-size) / 80), 6px);
  }

  .target-vertical-line,
  .target-horizontal-line {
    pointer-events: none;
    opacity: 1;
    stroke: var(--clr-anchor-circle);
    stroke-width: 1px;
    transition: opacity var(--dur-clr-transition) linear;

    &.hidden {
      opacity: 0;
    }
  }
}

.graph-svg {
  overflow: visible;

  .anchors-group,
  .ctrl-group {
    transition: opacity var(--dur-clr-transition) linear;
  }
}

.graph-svg.hide-points {
  .anchors-group,
  .ctrl-group {
    pointer-events: none;
    opacity: 0 !important;
  }
}

.graph-svg.auto-hide-points {
  .anchors-group,
  .ctrl-group {
    pointer-events: none;
    opacity: 0;
  }

  &:has(*:focus) {
    .anchors-group,
    .ctrl-group {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.graph-path {
  cursor: pointer;
  outline: none;
  stroke: var(--clr-path);
  stroke-width: var(--size-path-thickness);
  transition: stroke var(--dur-clr-transition) linear;
}

.graph-panel:has(*:focus) {
  .graph-path {
    stroke: var(--clr-active-path);
  }
}

.graph-path-use {
  --size-path-thickness: var(--size-filled-path-thickness);
  --clr-active-path: var(--clr-filled-path);
  --clr-path: var(--clr-filled-path);

  pointer-events: none;
}

.anchor-circle {
  cursor: pointer;
  outline: none;
  fill: var(--clr-anchor-circle);
  stroke: transparent;
  stroke-width: calc((var(--size-anchor-stroke) / var(--grid-size)) * 100);
  transition:
    fill var(--dur-clr-transition) linear,
    stroke var(--dur-clr-transition) linear;
  r: calc((var(--size-anchor-circle) / var(--grid-size)) * 100);

  &:focus {
    stroke: var(--clr-focus-anchor-circle-stroke);
  }
}

.active-anchor-circle {
  fill: var(--clr-active-anchor-circle);
}

.ctrl-circle {
  cursor: pointer;
  outline: none;
  fill: var(--clr-ctrl-circle);
  transition: fill var(--dur-clr-transition) linear;
  r: calc((var(--size-ctrl-circle) / var(--grid-size)) * 100);
}

.active-ctrl-circle {
  fill: var(--clr-active-ctrl-circle);
}

.ctrl-line {
  stroke: var(--clr-ctrl-line);
  stroke-width: 1px;
  transition: stroke var(--dur-clr-transition) linear;
}

.active-ctrl-line {
  stroke: var(--clr-active-ctrl-line);
}
