:host {
  --dur-clr-transition: 150ms;
  --clr-panel-background: var(--sb-color-gray-5);
  --clr-grid-line: var(--sb-color-black);
  --clr-graph-txt: var(--sb-color-gray-3);

  /* anchors */
  --clr-anchor-circle: var(--sb-color-accent);
  --clr-focus-anchor-circle-stroke: hsl(from var(--sb-color-accent) h calc(s * 4) calc(l * 2));
  --clr-active-anchor-circle: hsl(from var(--sb-color-accent) h calc(s * 2) l);
  --size-anchor-circle: 6px;
  --size-anchor-stroke: 2px;

  /* ctrl */
  --clr-ctrl-circle: var(--sb-color-secondary);
  --clr-active-ctrl-circle: hsl(from var(--sb-color-secondary) h calc(s * 2) l);
  --clr-ctrl-line: var(--sb-color-secondary);
  --clr-active-ctrl-line: hsl(from var(--sb-color-secondary) h calc(s * 2) l);
  --size-ctrl-circle: 5px;

  /* path */
  --clr-path: var(--sb-color-gray-0);
  --clr-active-path: var(--sb-color-gray-0);
  --clr-pressed-path: var(--sb-color-accent);
  --clr-filled-path: var(--sb-color-accent);
  --size-path-thickness: 2px;
  --size-filled-path-thickness: 3px;

  position: relative;
  display: block;
  touch-action: none;
  user-select: none;
  background-color: var(--clr-grid-line);
  background-image: radial-gradient(var(--clr-panel-background) 1px, var(--clr-grid-line) 1px);
  background-size: 20px 20px;
  /* stylelint-disable property-no-vendor-prefix */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  /* stylelint-enable property-no-vendor-prefix */

  @media (prefers-reduced-motion) {
    --dur-clr-transition: 0ms;
  }

  @media (pointer: coarse) {
    --size-path-thickness: 4px;
    --size-filled-path-thickness: 5px;
  }
}

.main-svg {
  display: block;
  inline-size: 100%;
}

.graph-panel {
  overflow: visible;
}

.graph-panel-background {
  fill: var(--clr-panel-background);
}

.graph-panel-grid-lines line {
  stroke: var(--clr-grid-line);
  stroke-width: 1px;
}

.graph-panel-fps-counter {
  font-family: monospace;
  font-size: clamp(8px, 1px * var(--grid-size) / 30, 18px) !important;
  font-weight: bold;
  user-select: none;
  fill: var(--clr-graph-txt);
}

.graph-panel-grid-numbers text,
.graph-panel-labels text {
  font-family: monospace;
  font-size: clamp(8px, 1px * var(--grid-size) / 50, 18px);
  user-select: none;
  fill: var(--clr-graph-txt);
}

.svg-anim-representation {
  .empty-line {
    stroke: var(--clr-graph-txt);
    stroke-width: 1px;
  }

  .filled-line {
    stroke: var(--clr-anchor-circle);
    stroke-width: 1px;
  }

  .circle-indicator {
    fill: var(--clr-anchor-circle);
    r: clamp(2px, calc(1px * var(--grid-size) / 80), 6px);
  }

  .target-vertical-line,
  .target-horizontal-line {
    pointer-events: none;
    opacity: 1;
    stroke: var(--clr-anchor-circle);
    stroke-width: 1px;
    transition: opacity var(--dur-clr-transition) linear;

    &.hidden {
      opacity: 0;
    }
  }
}

.graph-svg {
  overflow: visible;

  .anchors-group,
  .ctrl-group {
    transition: opacity var(--dur-clr-transition) linear;
  }
}

.graph-svg.hide-points {
  .anchors-group,
  .ctrl-group {
    pointer-events: none;
    opacity: 0 !important;
  }
}

.graph-svg.auto-hide-points {
  .anchors-group,
  .ctrl-group {
    pointer-events: none;
    opacity: 0;
  }

  &:has(*:focus) {
    .anchors-group,
    .ctrl-group {
      pointer-events: all;
      opacity: 1;
    }
  }
}

.graph-path {
  cursor: pointer;
  outline: none;
  stroke: var(--clr-path);
  stroke-width: var(--size-path-thickness);
  transition: stroke var(--dur-clr-transition) linear;
}

@media (pointer: coarse) {
  .graph-path:active {
    --clr-path: var(--clr-pressed-path);
    --clr-active-path: var(--clr-pressed-path);

    transition: none;
  }
}

.graph-panel:has(*:focus) {
  .graph-path {
    stroke: var(--clr-active-path);
  }
}

.graph-path-use {
  --size-path-thickness: var(--size-filled-path-thickness);
  --clr-active-path: var(--clr-filled-path);
  --clr-path: var(--clr-filled-path);

  pointer-events: none;
}

.anchor-circle {
  cursor: pointer;
  outline: none;
  fill: var(--clr-anchor-circle);
  stroke: transparent;
  stroke-width: calc((var(--size-anchor-stroke) / var(--grid-size)) * 100);
  transition:
    fill var(--dur-clr-transition) linear,
    stroke var(--dur-clr-transition) linear;
  r: calc((var(--size-anchor-circle) / var(--grid-size)) * 100);

  &:focus {
    stroke: var(--clr-focus-anchor-circle-stroke);
  }
}

.active-anchor-circle {
  fill: var(--clr-active-anchor-circle);
}

.ctrl-circle {
  cursor: pointer;
  outline: none;
  fill: var(--clr-ctrl-circle);
  transition: fill var(--dur-clr-transition) linear;
  r: calc((var(--size-ctrl-circle) / var(--grid-size)) * 100);
}

.active-ctrl-circle {
  fill: var(--clr-active-ctrl-circle);
}

.ctrl-line {
  stroke: var(--clr-ctrl-line);
  stroke-width: 1px;
  transition: stroke var(--dur-clr-transition) linear;
}

.active-ctrl-line {
  stroke: var(--clr-active-ctrl-line);
}

.toolbar {
  position: absolute;
  inset-block-start: 1em;
  inset-inline-end: 1em;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.toolbar-btn {
  display: grid;
  place-items: center;
  inline-size: 2.5em;
  block-size: 2.5em;
  padding: 0;
  color: var(--sb-color-gray-0);
  cursor: pointer;
  background-color: color-mix(in oklab, var(--sb-color-gray-7) 50%, transparent);
  border: solid 1px var(--sb-color-gray-5);
  border-radius: 50%;
  box-shadow: 0 2px 7px light-dark(oklch(20% 0.012 var(--sb-hue-base) / 15%), oklch(0% 0 0deg / 40%));
  backdrop-filter: blur(1px);
  transition: background-color var(--dur-clr-transition) ease;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: var(--sb-color-gray-5);
    }
  }

  &[aria-pressed="true"] {
    color: oklch(98% 0.009 var(--sb-hue-base));
    background-color: var(--sb-color-accent);
    border-color: var(--sb-color-accent);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  svg {
    inline-size: 1.4em;
    block-size: 1.4em;
    fill: currentcolor;
  }

  .toolbar-icon-curve {
    fill: none;
    stroke: currentcolor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
